/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
html {
	background: #FFFEF8;
}
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	position: relative;
	padding-bottom: 60px;
	min-height: 88vh;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
button, input[type="submit"] {
	cursor: pointer;
	height: 39px;
}
input[type="text"], option, textarea, input[type="email"], #selectCategory {
	font-family: 'Work Sans';
	font-size:1em;
	color: #444444 ;                  
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
#filters-container {
	display: flex;
	width: 100%;


	
}
input[type="submit"], button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	font-size: 1.2em;
	height: 39px;
	border: none;
	display: block;
	white-space: nowrap;
}
.filterButton, .filterButtonAll, #browsePictures {
	padding: 10px 20px;
	border-radius: 60px;
	border: #1D6154 1px solid;
	background: none;
	color: #1D6154;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	margin: 0 ;
	width: auto;
	box-sizing: border-box;
}
.filterButton:hover, .filterButton:focus, .filterButtonAll:hover, .filterButtonAll:focus {
	background-color: #1D6154;
	color: #FFFFFF;
}


#gallery {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}
#gallery figure {
	width: 33%;
	padding: 10px;
}
#gallery figure:last-child  {
	margin-right: auto;
}
#gallery img {
	width: 100%;

}
#contact, #login {
	width: 50%;
margin: auto;
}
#contact, #login > * {
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, #login form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login a {
	text-decoration: underline;
}
#login{
	margin-top: 50px;
	margin-bottom: 50px;
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/*Mode admin editeur*/
.admin-edit {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	height: 50px;
	width: 100%;
  }
  .admin-edit p {
	color: white;
  }
  
  /****section contact formulaire********/
  #contact {
	width: 40%;
	margin: auto;
  }
  #contact > * {
	text-align: center;
  }
  #contact h2 {
	margin-bottom: 20px;
  }
  #contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
  }
  #contact form input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  }
  #contact form label {
	margin: 2em 0 1em 0;
	font-weight: 700;
  }
  #contact form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  }
  #contact form input[type=submit] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
  }
  
  #introduction {
	display: flex;
	align-items: center;
	margin-bottom: 140px;
  }
  #introduction figure {
	flex: 1;
  }
  #introduction figure img {
	display: block;
	width: 80%;
  }
  #introduction article {
	flex: 1;
  }
  #introduction article h2 {
	margin-bottom: 1em;
  }
  #introduction article p {
	margin-bottom: 0.5em;
  }
  
 
	/*Préparation des filtres*/
	/****************Utilisateur conectée****************/
  #portfolio h2 {
	text-align: center;
  }
  #portfolio .container-filtres {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	height: 100px;
  }
  #portfolio .container-filtres .buttons-filtres {
	background-color: #fefef8;
	padding: 9px 20px;
	border: 1px solid #1d6154;
	border-radius: 25px;
	color: #1d6154;
	font-weight: 700;
	font-size: 1.2rem;
	font-family: Syne;
	cursor: pointer;
	width: auto;
  }
  #portfolio .container-filtres .active {
	background-color: #1d6154;
	color: white;
  }
  #portfolio .gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
  }
  #portfolio .gallery img {
	width: 100%;
  }
  #portfolio .div-edit {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5em;
	gap: 10px;
  }
  #portfolio .div-edit span {
	cursor: pointer;
  }
  
  footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #ffffff;
	width: 100%;
  }
  footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
  }
  
  /******************Page login************************/
  /*lien Mot de passe oublié du form de conexion*/
  .main-login {
	min-height: 650px;
	margin-top: 90px;
  }
  .main-login #contact form input[type=submit] {
	height: 100%;
	padding: 10px 0px;
	font-size: 0.85rem;
  }
  
  .form__lien {
	color: black;
	font-weight: 700;
  }
  
  .center {
	display: flex;
	justify-content: center;
  }
  
  .error {
	color: #ff0000;
  }
  
  #login-link {
	cursor: pointer;
  }
  
  #modalContent {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modalPortfolio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
	background-color: white;
	border-radius: 5px;
	width: 32%;
	height: 66%;
	position: relative;
	min-height: 500px;
	min-width: 300px;
  }
  .modalPortfolio span {
	position: absolute;
	top: 30px;
	right: 30px;
  }
  .modalPortfolio span .fa-xmark {
	font-size: 1.5rem;
	cursor: pointer;
  }
  .modalPortfolio h3 {
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.5rem;
  }
  .modalPortfolio h2 {
	margin-top: 50px;
	color: black;
	font-size: 26px;
	font-family: Work Sans;
	font-weight: 400;
	margin-bottom: 50px;
  }
  .modalPortfolio .container-gallery-button {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80%;
	width: 70%;
  }
  .modalPortfolio .container-gallery-button .modalGallery {
	width: 100%;
	height: 50%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 40% 40% 40%;
	grid-column-gap: 10px;
	grid-row-gap: 30px;
  }
  .modalPortfolio .container-gallery-button .modalGallery figure {
	width: 100%;
	height: 100%;
	position: relative;
	pointer-events: none;
  }
  .modalPortfolio .container-gallery-button .modalGallery figure span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: black;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	pointer-events: auto;
  }
  .modalPortfolio .container-gallery-button .modalGallery figure span .fa-trash-can {
	color: white;
	font-size: 0.6rem;
	cursor: pointer;
	z-index: 2000;
  }
  .modalPortfolio .container-gallery-button .modalGallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  .modalPortfolio .container-gallery-button .container-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 100%;
	border-top: 1px solid gray;
  }
  .modalPortfolio .container-gallery-button .container-button .buttons {
	background-color: #1d6154;
	padding: 9px 50px;
	border-radius: 25px;
	color: white;
	font-weight: 700;
	font-size: 1rem;
	font-family: Syne;
	cursor: pointer;
	width: auto;
  }
  .modalPortfolio .container-gallery-button .container-button .buttons:hover {
	background-color: white;
	border: 1px solid #1d6154;
	color: #1d6154;
  }
  
  .modalAddWorks {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 500px;
	min-width: 300px;
	background-color: white;
	border-radius: 5px;
	position: relative;
	width: 32%;
	height: 66%;
  }
  .modalAddWorks .arrow-left {
	position: absolute;
	top: 30px;
	left: 15px;
  }
  .modalAddWorks .arrow-left .fa-arrow-left {
	font-size: 1.5rem;
	cursor: pointer;
  }
  .modalAddWorks .xmark {
	position: absolute;
	top: 30px;
	right: 15px;
  }
  .modalAddWorks .xmark .fa-xmark {
	font-size: 1.5rem;
	cursor: pointer;
  }
  .modalAddWorks h3 {
	margin-top: 60px;
	font-weight: bold;
	font-size: 1.5rem;
  }
  .modalAddWorks form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 80%;
	width: 80%;
	gap: 20px;
  }
  .modalAddWorks form .containerAddPhoto {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #e8f1f6;
	gap: 10px;
  }
  .errormodal {
	color: red;
	justify-content: center;
  }
  .modalAddWorks form .containerAddPhoto img {
	display: none;
	max-width: 76px;
	height: 100%;
	z-index: 2;
	position: absolute;
  }
  .modalAddWorks form .containerAddPhoto .fa-image {
	font-size: 4rem;
	color: #b9c5cc;
  }
  .modalAddWorks form .containerAddPhoto .labelFile {
	display: block;
	display: flex;
	align-items: center;
	background-color: #b9c5cc;
	border-radius: 15px;
	height: 30px;
	padding: 0 20px;
	color: #306685;
	cursor: pointer;
  }
  .modalAddWorks form .containerAddPhoto input {
	opacity: 0;
  }
  .modalAddWorks form #title {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 8%;
  }
  .modalAddWorks form #categoryInput {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 8%;
  }
  .modalAddWorks form .container-button-add-work {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100%;
	border-top: 1px solid gray;
  }
  .modalAddWorks form .container-button-add-work .buttonValidForm {
	background-color: #1d6154;
	padding: 9px 50px;
	border-radius: 25px;
	color: white;
	font-weight: 700;
	font-size: 1rem;
	font-family: Syne;
	cursor: pointer;
  }
  .modalAddWorks form .container-button-add-work .button-add-work {
	background-color: #a7a7a7;
	padding: 9px 50px;
	border-radius: 25px;
	color: white;
	font-weight: 700;
	font-size: 1rem;
	font-family: Syne;
	cursor: pointer;
  }
  .modalAddWorks form .container-button-add-work .button-add-work:hover {
	background-color: white;
	border: 1px solid #1d6154;
	color: #1d6154;
  }

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes slidefromTop {
	from {
		transform: translateY(-50px);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes slidetoBottom {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(50);
	}
}


/* partie responsive */

@media screen and (max-width: 1440px) {
	.modalPortfolio .container-gallery-button .modalGallery img {
	  width: 100%;
	  height: auto;
	  object-fit: cover;
	}
	.modalPortfolio .container-gallery-button .modalGallery figure span {
		position: absolute;
		top: 2%;  
		right: 2%;
	}
	.modalPortfolio{
		width: auto;
		height: auto;
	}
	.modalPortfolio .container-gallery-button .modalGallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(76px, 1fr));
		grid-template-rows: repeat(2, auto);
		grid-gap: 10px;
		width: auto;
	  }
	
  }

  @media screen and (max-width: 600px) {
	.modalPortfolio .container-gallery-button .modalGallery img {
	  width: 100%;
	  height: auto;
	  object-fit: cover;
	}
	.modalPortfolio .container-gallery-button .modalGallery figure span {
		position: absolute;
		top: 2%;  
		right: 2%;
	}
	.modalPortfolio{
		width: auto;
		height: auto;
	}
	.modalPortfolio .container-gallery-button .modalGallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(76px, 1fr));
		grid-template-rows: repeat(2, auto);
		grid-gap: 10px;
		width: auto;
	  }
  }